<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="web">

	<!-- 회원가입 -->
	<!-- insert : 데이터 입력(insert)을 나타내는 태그.
	     id : 네임스페이스안에서 쿼리를 구분하는 유일한 식별자 역할을 한다.
	     parameterType : 쿼리에 적용할 파라미터 타입. (map타입이 있다.)
	     keyProperty, useGeneratedKeys : 두개는 한쌍이다. useGeneratedKeys가 true로 설정되면 Mybatis는 Insert쿼리 실행 후 생성된 PK를
	                                     파라미터 객체의 keyProperty속성에 넣어준다. 사용법은 DAO에서 확인 가능.
	    <![CDATA[ : 원시(Raw) 문자열을 나타낸다. <![CDATA[안에 있는 문자열은 <등의 태그 문자가 있더라도 인식하지 않는다.
	-->
	<insert id="join" parameterType="hashmap" keyProperty="id" useGeneratedKeys="true">
		<![CDATA[
			INSERT INTO webdb.joinmember
			( id, pw, name, age )
			VALUES
			( #{userId} ,#{userPw} ,#{userName} ,#{userAge} )
		]]>
	</insert>

	<!-- 로그인 -->
	<!-- resultType : select쿼리가 실행 된 후 반환값을 담을 컨테이너 타입-->
	<select id="login" parameterType="hashmap" resultType="hashmap">
		<![CDATA[
		select *
		from webdb.login
		where 1=1
		  AND id = #{id}
		  AND pw = #{pw}
		]]>
	</select>

	<!-- 게시물 리스트 -->
	<!--<select id="board_list" resultType="hashmap">
		<![CDATA[
			INSERT INTO t_board
				(
				    title,
				    contents,
				    creator_id,
				    created_datetime
				)
				VALUES
				(
				    #{title},
				    #{contents},
				    #{creator_id},
				    #{created_datetime}
				)
		]]>
	</select>
	-->
	<!-- 마이페이지 수정 -->
	<!--<update id="update_myModify">
		<![CDATA[
			UPDATE joinmember 
			set pw=#{userPw}
				,name=#{userName} 
			where id=#{userId}
		]]>
	</update>-->
	
	<!-- <delete id="delete_account"> <![CDATA[ delete from userinfo where id 
		= #{id} ]]> </delete> -->
</mapper>
