<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
  <SCRIPT>
    function save_joindata() {
      let id = $("userId").val();
      let password = $("userPw").val();

      $.ajax({
        type: "POST",
        url: "/join",
        data : {id_give: id, password_give: password}
        success: function (response) {
          alert(response["msg"]);
          window.location.reload();
        },
      });
    }</SCRIPT>
</head>
<body class="page-template-default page page-id-7 page-parent woocommerce theme-dokan woocommerce-account woocommerce-page woocommerce-no-js dokan-theme-dokan">

  <form action="" method="post">
    <label>아이디:</label>
    <input type="text" name="userId"><br/>

    <label>비밀번호:</label>
    <input type="password" name="userPw"><br/>

    <label>이름:</label>
    <input type="text" name="userName"><br/>

    <label>나이:</label>
    <input type="text" name="userAge"><br/>

    <button type="submit" value="가입">가입</button>
    <button type="button" onclick="location.href='../../..'">메인</button>
  </form>
</body>
</html>